body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    /* --footer-height: 25px; */
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 1.5re; */
    background: rgb(57,7,2);
    background: linear-gradient(0deg, rgba(57,7,2,1) 0%, rgba(164,15,0,1) 100%);}
  

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    /* background-image: url('../assets/book.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* position: relative; */
    /* border: 15px blue solid; */
    /* height: 100vh; */
    
}

section {
    /* background-color: var(--color5); */
    /* width: 1000px; */
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(164,14,0);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center;
    align-content: center;
    margin: 0px 20px;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%
}

.nav-links {
    margin: 20px;
    color: rgb(243,182,0);
    font-family: 'Imbue', serif;
    font-weight: 700;
    font-size: 40px;
}

.profile {
    display:flex;
    justify-content: flex-end;
    margin: auto;
    width: auto;
    font-family: 'Imbue', serif;
}

.username {
    margin: 10px;
    color: rgb(243,182,0); 
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.insert-username {
    margin: 10px;
    color: rgb(243,182,0); 
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

.logout-button {
    height: 30px;
    justify-content: center;
    margin: auto;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}


header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
/*   
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
} */

.credits-background {
    width: 864px;
    height: 1066px;
    /* margin-top: 100px; */
    background-image: url("../assets/mrzispy0018.jpeg");
    background-size: cover;
    position: relative;
    border-radius: 10px;

}

.kat-photo {
    position: absolute;
    width: 14.75%;
    top: 54.2%;
    left: 18.1%;
}

.d-photo {
    position: absolute;
    width: 15.5%;
    top: 85.5%;
    left: 14%;
}

.kalan-photo {
    position: absolute;
    width: 27%;
    top: 3.5%;
    left: 39%;
}

.gabriel-photo {
    position: absolute;
    width: 16.5%;
    top: 34.5%;
    left: 28%;
}


.drop-shadow {
    filter: drop-shadow(5px 5px 5px hsl(180, 50%, 50%));
    opacity: 1;
}

.ispy-rhymes {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    width: 60%;
}

.ispy-rhymes span {
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-image: url('../assets/bulletin.jpg'); */
    /* background-size: contain;
    background-repeat: no-repeat; */
    /* height: 100vh; */
    width: 100vw;
}

.bulletin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptions {
    height: 500px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin: 30px; */
}

.left {
    text-align: end;
    justify-self: flex-end;
}

.right {
    justify-self: flex-start;
}

.descriptions p {
    border: 2px solid orange;
    padding: 20px;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
}

.hidden {
    display: none;
}

.line-through {
    text-decoration: line-through;

}