
body {
 
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(57,7,2);
    background: linear-gradient(0deg, rgba(57,7,2,1) 0%, rgba(164,15,0,1) 100%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-image: url('../assets/book.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1650px 1250px;
    position: relative;
    height: 90vh;
}

#puzzle-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -8rem 0rem 0rem 1.3rem;
}

section {
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}


header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(164,14,0);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center;
    align-content: center;
    margin: 0px 20px;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%
}

.nav-links {
    margin: 20px;
    color: rgb(243,182,0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.profile {
    display:flex;
    justify-content: flex-end;
    margin: auto;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.username {
    margin: 10px;
    color: rgb(243,182,0); 
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.insert-username {
    margin: 10px;
    color: rgb(243,182,0); 
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

.logout-button {
    justify-content: center;
    margin: auto;
}


h2, .table-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
}

h3, li, label, th {
    font-size: 1.5rem;
}

.gutter-right {
    margin-right: 20px;
}


header img {
    height: var(--header-height);
}
  
.disabled {
    pointer-events: none;
}

#puzzle {
    position: relative;
    width: 1189.2px;
    height: 712.2px;
    background-size: cover;
}

#timer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1189.2px;
    margin: -20px ;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

#time {
    text-align: center;
    width: 567.6px;
    font-size: 30px;
}

.score-container {
    margin-left: 280px;
    font-size: 30px;
}

#score {
    margin-right: 200px;
    font-size: 30px;
}

#item-list {
    margin:0;
    padding: 0;
    font-size: 20px;;
    width: 1189.2px;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clicky {
    position: absolute;
    z-index: 50;
    max-width: 100%;
    max-height: 100%;
}

.baby {
    cursor: pointer;
}

.clicky-image {
    /* opacity: 0; */
    width: 60%;
}

.drop-shadow {
    filter: drop-shadow(5px 5px 5px hsl(180, 50%, 50%));
    opacity: 1;
}

.last-score {
    font-weight: bold;
}

#results-button {
    width: 1189.2px;
    display: flex;
    justify-content: center;
}

.end-game-button {
    font-size: xx-large;
    position: absolute;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-instructions {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-instructions {
    width: 594.6px;
    margin: 30px;
    text-align: center;
}

.right-instructions {
    width: 594.6px;
    margin: 10px;
    text-align: center;
}

.table-of-contents{
    margin-bottom: 100px;
    
}

.game-settings {
    margin-top: 100px;
    
}

.main-results {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-results { 
    width: 594.6px;
    margin: 30px;
    text-align: center;
    height: 712.2px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow: auto;
    
}

.table-title {
    font-weight: bold;
    margin: 10px;
}

th {
    font-weight: bold;
    border-bottom: 1px black solid;    
}

td {
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
}

.right-results {
    width: 594.6px;
    margin: 10px;
    text-align: center;
    height: 712.2px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.play-again-button {
    margin: 30px;
}


button {
    
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid rgb(243,182,0);
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    color:rgb(159, 40, 22)
}

button:hover {
    background: rgb(243,182,0);
    color: white;
    
}

#confirm {
    margin: 20px;
    /* display: block; */
}

.time-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.underline {
    text-decoration: underline;
}

.game-settings-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}